global
    log /dev/log local0
    maxconn 50000
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_front
    bind *:80
    default_backend web_servers

backend web_servers
    balance roundrobin
    option httpchk
    server web1 10.0.0.20:80 check
    server web2 10.0.0.21:80 check
    server web3 10.0.0.22:80 check
